@import url("https://raw.githack.com/codedotspectra/discordneutron/master/importCSS/xcore.css");
:root {
  --PrimaryColor: #1a88ff;
  --BackgroundColor01: #3a3f4b;
  --BackgroundColor02: #2b3039;
  --BackgroundColor03: #282c34;
  --BackgroundColor04: #21252c;
}

@font-face {
  font-family: 'Flat-UI-Pro-Icons';
  src: url('../fonts/glyphicons/flat-ui-pro-icons-regular.eot');
  src: url('../fonts/glyphicons/flat-ui-pro-icons-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons/flat-ui-pro-icons-regular.woff') format('woff'), url('../fonts/glyphicons/flat-ui-pro-icons-regular.ttf') format('truetype'), url('../fonts/glyphicons/flat-ui-pro-icons-regular.svg#flat-ui-pro-icons-regular') format('svg');
}

body {
  background-color: var(--BackgroundColor03) !important;
  color: #e6e6e6;
}
body[style*="padding"] {
  padding: 0 !important;
}
.container-input {
  padding: 15px 0 15px 0;
}
footer h3 {
  margin: 15px;
  border-bottom: 1px solid var(--PrimaryColor);
}
#tutorial h3 {
  margin: 15px 0 15px 0;
  width: 90%;
  border-bottom: 1px solid var(--PrimaryColor);
  font-weight: bold;
}
.panel h3 {
  margin: 15px;
  width: 90%;
  border-bottom: 1px solid var(--PrimaryColor);
}
.navbar {border-radius: 0 !important;}
.accordion {
    background-color: rgba(0,0,0,.3);
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: all 0.2s ease;
    word-wrap: break-word;
}
.active, .accordion:hover {
    background-color: rgba(0,0,0,.5);
    color: var(--PrimaryColor);
}
.accordion:after {
    content: '\02795';
    font-size: 13px;
    color: #fff;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
    color: var(--PrimaryColor);
}
.panel {
    padding: 0 18px;
    background-color: rgba(0,0,0,.25);
    border-radius: 0;
    overflow: hidden;
    max-height: 0;
    margin: 0 !important;
    transition: all 0.2s ease;
}
.container {padding: 80px 0px;}
.animated-transparent {
      background-color: transparent;
      border: 1px solid #fff;
      color: #fff;
}
.animated-btn {
    height: 50px;
    min-width: 50px;
    max-width: 170px;
    max-height: 200px;
    line-height: 50px;
    position: relative;
    cursor: pointer;
    transition: all 0.2s ease;
    overflow: hidden;
    border-radius: 32px;
}
.nav-tabs li a {
    color: #777;
}
.navbar {
    margin-bottom: 0;
    background-color: rgba(0,0,0,0.5);
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: 0.9;
}
.navbar li a, .navbar .navbar-brand {
    color: #d5d5d5 !important;
}
.navbar-nav li a:hover {
    color: #fff !important;
}
.navbar-nav li.active a {
    color: #fff !important;
    background-color:  rgba(0,0,0,0.9) !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}
.tooltip {
  background: #000;
  color:#fff;
  border-radius: 1px;
}
#tutorial {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  z-index: 10000 !important;
  transition: all .2s ease;
}
.popupContainer {
  margin-top: 30%;
  background-color: var(--BackgroundColor03);
  border-radius: 4px;
  z-index: 10001 !important;
  overflow-x: hidden;
  overflow-y: auto;
}
.popupHeader {
  padding: 15px;
  background-color: var(--BackgroundColor04);
  border-radius: 4px 4px 0 0;
}
.popupContent {
  padding: 15px;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 600px;
}

#madeby,
#followme,
#supportme {
  display: inline-block;
}
.separator-vertical{
  display: inline-block;
  content: "";
  margin: 0 15px 0 15px;
  height: 80px;
  border-right: 2px solid rgba(255,255,255,0.3);
}
body, html {
  width: 100% !important;
  height: 100% !important;
}
footer {
    background-color: rgba(0,0,0,0.5);
    color: #f5f5f5;
    padding: 32px;
}
footer a {color: #f5f5f5;}
footer a:hover {
    color: #777;
    text-decoration: none;
}
pre {background-color: transparent;border-color: rgba(0,0,0,0.5);}
code {background-color: rgba(0,0,0,0.3);color: #fff;}
.discord-channel {
  background-color: rgba(74, 103, 207,.3);
  color: #5e77d4;
}
.social-links {
  list-style-type: none;
  padding:0;
  margin:0;
}
.social-links span {
  font-family: 'Flat-UI-Pro-Icons' !important;
}
.social-links li {
  display: inline-block;
  margin:0 10px 0 10px;
}
.social-links a {
  color: #f5f5f5 !important;
  font-weight: bold;
  transition: all .0s ease;
}
.github:hover span {color: #000 !important;}
.youtube:hover span {color: #ff0000 !important;}
.twitter:hover span {color:#08a0e9 !important;}
.paypal:hover span {color: #003087 !important;}
.btn-discord {
  background-color: #7289da;
  color:#fff !important;
}
.close-button {
  background: transparent;
  color: #fff;
  border-radius: 4px;
  border: none;
  transition: all .2s ease;
}
.close-button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.btn-discord:hover {background-color:#4a67cf;}
.error{color:#ff0000;}
.valid{color:#00ff00;}
.inprogress{color:#ff9933;}
.btn-download {background-color: #ff2143;color:#fff;}
.btn-download:hover {background-color: #ff0026;color:#fff;}
[class^="fui-"],
[class*="fui-"] {
  font-family: 'Flat-UI-Pro-Icons';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }
.fui-youtube:before {
  content: "\e647";
}
.fui-twitter:before {
  content: "\e649";
}
.fui-paypal:before {
  content: "\e658";
}
.fui-github:before {
  content: "\e65c";
}
.fui-cross:before {
  content: "\e609";
}
/*# sourceMappingURL=flat-ui-pro.css.map */
  .da-channelTextArea {display: block;height: 45px;top: 2px;}
  .erd_scroll_detection_container > div::-webkit-scrollbar { display: none; }

  .erd_scroll_detection_container_animation_active { -webkit-animation-duration: 0.1s; animation-duration: 0.1s; -webkit-animation-name: erd_scroll_detection_container_animation; animation-name: erd_scroll_detection_container_animation; }
  @-webkit-keyframes erd_scroll_detection_container_animation { 0% { opacity: 1; } 50% { opacity: 0; } 100% { opacity: 1; } }
  @keyframes erd_scroll_detection_container_animation { 0% { opacity: 1; } 50% { opacity: 0; } 100% { opacity: 1; } }
  .form-control {
    background: rgba(0,0,0,.5) !important;
    border-color: rgba(0,0,0,.2);
    border-width: 1px !important;
    color: #fff !important;
  }
  #accordion-wrapper label {margin: 5px 0 5px 0;}
  a {color: var(--PrimaryColor);}
  .previewContainer {
    padding: 10px 5px 10px 5px;
  }
  nav * {letter-spacing: normal;}
  #accordion-wrapper {
    background-color: var(--BackgroundColor04);
    overflow: hidden;
    height: 700px;
    max-height: 700px;
  }
  #accordion-wrapper:hover {
    overflow-y: scroll;
  }
  #app-mount {
    max-width: 95%;
    max-height: 650px;
    z-index: 1 !important;
  }
  #preview-wrapper {
    background-color: transparent;
    padding: 25px;
    max-width: 75%;
    max-height: 100%;
  }

  input[type="color"]{
    background: rgba(0,0,0,.5);
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 4px 0 0 4px;
    padding: 5px;
    height: 34px;
    display: inline-block;
    cursor: pointer;
    width: 20%;
  }
  select:focus,
  input:focus {
    box-shadow: none !important;
    border-color: var(--PrimaryColor) !important;
  }
  .input-group .form-control {
    float: right;
    width: 80%;
  }
  .transparent {
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.5);
    background-color: rgba(0,0,0,0.3);
    color: #f5f5f5;
    padding: 10px;
  }
  .greenTransparent {border-color: rgba(0, 179, 60,.5);background-color:  rgba(0, 179, 60,.3)}
  .redTransparent {border-color: rgba(255, 0, 0,.5);background-color:  rgba(255, 0, 0,.3)}
  .warningTransparent {border-color: rgba(236, 151, 31, .5);background-color:  rgba(236, 151, 31,.3)}
  .modal-dialog {z-index: 1500 !important;}
  #navbar *,
  footer *,
  #accordion-wrapper *,
  #tutorial *:not(span) {
    font-family: sans-serif !important;
  }
 .checkbox {
   display: block;
   position: relative;
   padding-left: 35px;
   margin-bottom: 12px;
   cursor: pointer;
   font-size: 16px;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
 }
 .checkbox input {
   position: absolute;
   opacity: 0;
   cursor: pointer;
   height: 0;
   width: 0;
 }
 .checkmark {
   position: absolute;
   top: 0;
   left: 0;
   height: 17px;
   width: 17px;
   background-color: #eee;
   border-radius: 4px;
   box-shadow: 0 0 3px 1px grey inset;
 }
 .checkbox:hover input ~ .checkmark {
   background-color: #ccc;
 }
 .checkbox input:checked ~ .checkmark {
   background-color: var(--PrimaryColor);
   box-shadow: none;
 }
 .checkmark:after {
   content: "";
   position: absolute;
   display: none;
 }
 .checkbox input:checked ~ .checkmark:after {
   display: block;
 }
 .checkbox .checkmark:after {
   left: 6px;
   top: 3px;
   width: 5px;
   height: 10px;
   border: solid white;
   border-width: 0 3px 3px 0;
   -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   transform: rotate(45deg);
 }
 .errorText {
   display: block;
 }
 .loading {
   animation-name: loading;
   animation-duration: 1s;
   animation-timing-function: ease;
   animation-delay: 0s;
   animation-iteration-count: infinite;
   display: block;
   margin-bottom: 25px;
 }
 @keyframes loading {
   0% {opacity: 0;}
   50% {opacity: 1;}
   100% {opacity: 0;}
 }
 #genBody {
   overflow-x: hidden !important;
   overflow-y: auto !important;
 }
 #content {
   display: none;
 }
 #loader-wrapper {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: 1000;
     background-color: var(--BackgroundColor04);
     cursor: progress;
 }
 #loader {
     display: block;
     position: relative;
     left: 50%;
     top: 50%;
     width: 150px;
     height: 150px;
     margin: -75px 0 0 -75px;
     border-radius: 50%;
     border: 3px solid transparent;
     border-top-color: #24a4dc;

     -webkit-animation: spin 1s linear infinite;
     animation: spin 1s linear infinite;

     z-index: 1001;
 }

     #loader:before {
         content: "";
         position: absolute;
         top: 5px;
         left: 5px;
         right: 5px;
         bottom: 5px;
         border-radius: 50%;
         border: 3px solid transparent;
         border-top-color: #2480db;

         -webkit-animation: spin-reverse 1.5s linear infinite;
         animation: spin-reverse 1.5s linear infinite;
     }

     #loader:after {
         content: "";
         position: absolute;
         top: 15px;
         left: 15px;
         right: 15px;
         bottom: 15px;
         border-radius: 50%;
         border: 3px solid transparent;
         border-top-color: #2452db;

         -webkit-animation: spin 0.75s linear infinite;
           animation: spin 0.75s linear infinite;
     }

     @-webkit-keyframes spin {
         0%   {
             -webkit-transform: rotate(0deg);
             -ms-transform: rotate(0deg);
             transform: rotate(0deg);
         }
         100% {
             -webkit-transform: rotate(360deg);
             -ms-transform: rotate(360deg);
             transform: rotate(360deg);
         }
     }
     @keyframes spin {
         0%   {
             -webkit-transform: rotate(0deg);
             -ms-transform: rotate(0deg);
             transform: rotate(0deg);
         }
         100% {
             -webkit-transform: rotate(360deg);
             -ms-transform: rotate(360deg);
             transform: rotate(360deg);
         }
     }

     @-webkit-keyframes spin-reverse {
         0%   {
             -webkit-transform: rotate(0deg);
             -ms-transform: rotate(0deg);
             transform: rotate(0deg);
         }
         100% {
             -webkit-transform: rotate(-360deg);
             -ms-transform: rotate(-360deg);
             transform: rotate(-360deg);
         }
     }
     @keyframes spin-reverse {
         0%   {
             -webkit-transform: rotate(0deg);
             -ms-transform: rotate(0deg);
             transform: rotate(0deg);
         }
         100% {
             -webkit-transform: rotate(-360deg);
             -ms-transform: rotate(-360deg);
             transform: rotate(-360deg);
         }
     }

 .hidden {
   display: none;
   visibility: hidden;
 }
.markup-2BOw-j {
  white-space: normal;
}
